body {
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  background: #212529;
  color: white;
}

h1 {
  margin-bottom: 20px;
  background-color: aqua;
}
